= link_to '<button type="button" class= "course">Manage course</button>'.html_safe, courses_path
= link_to '<button type="button" class= "lesson">Manage Lesson</button>'.html_safe, lessons_path
= link_to '<button type="button" class= "question">Manage Question</button>'.html_safe, questions_path
